<p-toast position="top-right" key="tr"></p-toast>

<div class="current-weather-container home-container">
  <div class="current-weather-box box-container">
    <div class="search-btn-box">
      <button  pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-secondary" (click)="searchPanel.toggle($event)"></button>
      <p-overlayPanel #searchPanel [dismissable]="true" [showCloseIcon]="true" [style]="{width: '275px'}">
        <ng-template pTemplate="body">
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Insert the city" [(ngModel)]="insertedCity" (keyup.enter)="GetCityWeather(searchPanel)" required>
            <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-primary" (click)="GetCityWeather(searchPanel)"></button>
          </div>
        </ng-template>
      </p-overlayPanel>
    </div>

    <div class="empty-city-weather-info" *ngIf="!cityWeatherInfo">
      <p>Please select a city on the search button</p>
    </div>

    <div class="city-weather-info" *ngIf="cityWeatherInfo">
      <div class="weather-info-icon">
        <div class="weather-icon" pTooltip="{{cityWeatherInfo.weather[0].main}}">
          <img src='http://openweathermap.org/img/wn/{{cityWeatherInfo.weather[0].icon}}@2x.png' alt="{{cityWeatherInfo.weather[0].main}}">
        </div>
      </div>
      <div class="temperature-info">
        <span>{{temperatureValue}}</span>
        <span>C</span>
      </div>
      <div class="weather-text-info">
        <span>{{weatherDescription}}</span>
      </div>
      <div class="horizontal-line"></div>
      <div class="city-text">
        <span><i class="pi pi-map-marker"></i> {{cityWeatherInfo.name}}, {{cityWeatherInfo.sys.country}}</span>
      </div>
      <div class="datetime-info">{{datetimeValue}}</div>
    </div>
  </div>
</div>
