<div class="left-bar">
  <div class="logo-box">
    <span>WEAT<span id="custom-span-t">T</span>HER</span>
  </div>
  <div class="horizontal-line"></div>
  <div class="page-icons-container">
    <p>main</p> <!-- pi-th-large -->
    <p>maps</p> <!-- pi-map -->
    <p>location</p> <!-- pi-map-marker -->
    <p>metrics</p> <!-- pi-chart-bar -->
    <p>calendar</p> <!-- pi-calendar -->
    <p>settings</p> <!-- pi-cog -->
  </div>
  <div class="user-container">
    <div class="user-alert">
      <span>bell icon</span>
    </div>
    <div class="user-photo">
      <span>photo</span>
    </div>
  </div>
</div>
