<div class="left-bar">
  <div class="logo-box">
    <span>WEA<span id="custom-span-t">T</span>THER</span>
  </div>
  <div class="horizontal-line"></div>
  <div class="icons-container" data-simplebar>
    <div class="page-icons-container">
      <div><i class="pi pi-th-large"></i></div>
      <div><i class="pi pi-map"></i></div>
      <div><i class="pi pi-map-marker"></i></div>
      <div><i class="pi pi-chart-bar"></i></div>
      <div><i class="pi pi-calendar"></i></div>
      <div><i class="pi pi-cog"></i></div>
    </div>
    <div class="user-container">
      <div class="user-alert">
      <span>
        <div *ngIf="false" class="circle-icon-alert"></div>
        <i class="pi pi-bell"></i>
      </span>
      </div>
      <div class="user-photo">
      <span>
        <i class="pi pi-user"></i>
      </span>
      </div>
    </div>
  </div>
</div>
